section#apresentacao {
  width: 100%;
  background-color: rgb(35, 35, 35);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 160px;
  justify-content: center;
}
section#apresentacao h2{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
section#apresentacao p{
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 730px) {
  section#apresentacao{
    height: 180px;
  }
}
@media screen and (max-width: 550px){
  section#apresentacao {
    height: 220px;
  }
}
@media screen and (max-width: 305px){
  section#apresentacao {
    height: 250px;
  }
  section#apresentacao h2{
    font-size: 1.5rem;
  }
  section#apresentacao p{
    font-size: 1.3rem;
  }
}